.page-title {
  color: #557996;
  margin-bottom: 0.5em;
  font-size: 1.6em;
  font-weight: bold;
}

.button-bar {
  margin-bottom: 1.0em;
  width: 100%;
}

.left-margin {
  margin-left: 0.5em;
}

.search-btn {
  float: right;
  margin-right: 1em;
}