$COL-WIDTH-1: 8.33%;
$COL-WIDTH-2: 16.66%;
$COL-WIDTH-3: 25%;
$COL-WIDTH-4: 33.33%;
$COL-WIDTH-5: 41.66%;
$COL-WIDTH-6: 50%;
$COL-WIDTH-7: 58.33%;
$COL-WIDTH-8: 66.66%;
$COL-WIDTH-9: 75%;
$COL-WIDTH-10: 83.33%;
$COL-WIDTH-11: 91.66%;
$COL-WIDTH-12: 100%;

$TABLET-BREAKPOINT: 768px;
$SMARTPHONE-BREAKPOINT: 480px;

$SMARTPHONE-BREAKPOINT-PLUS: 481px;